:root {
    background: pink;
    --main-color: white;
    overflow: hidden;
}

h1 {
    color: black;
    animation-duration: 3s;
    animation-name: slidein;
    display: flex;
    justify-content: center;
}

h4 {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: var(--main-color);
}

.container {
    display: flex;
}

.item {
    padding-top: 55px;
    margin: 5px;
    flex-grow: 1;
    height: 100px;
    /* width: 100px; */
    background-color: blue;
    text-align: center;
    border: 15px solid black;
}

.item-center {
    flex-grow: 2;
    background-color: red;
    padding-top: 55px;
    margin: 5px;
    text-align: center;
    border: 15px solid black;
}

